{% extends 'common/base.html' %}
{% load helpers %}
{% block content %}
  <h1>Users</h1>
  {% if object_list %}
  <table class="table">
    <thead>
    <tr>
      <td><span>Detail</span></td>
      <td><span>Username</span></td>
      <td><span>Birthday</span></td>
      <td><span>Eligible</span></td>
      <td><span>Random Number</span></td>
      <td><span>FuzzBizz</span></td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td><a class="btn btn-info"
               href="{% url 'user-detail' pk=object.pk %}">
          Details
        </a></td>
        <td><span>{{ object.username }}</span></td>
        <td><span>{{ object.birthday|date:"d/m/Y" }}</span></td>
        <td><span>{{ object.birthday|eligible }}</span></td>
        <td><span>{{ object.random_number }}</span></td>
        <td><span>{{ object.random_number|fizzbuzz }}</span></td>
        <td><a class="btn btn-info"
               href="{% url 'user-update' pk=object.pk %}">
          Update this user
        </a></td>
        <td><a class="btn btn-danger"
               href="{% url 'user-delete' pk=object.pk %}">
          Delete this user
        </a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>No users yet.</h3>
  {% endif %}
  <a class="btn btn-warning" href="{% url 'user-create' %}">Create new
    user</a>
  <a class="btn btn-warning" href="{% url 'users-download' %}">Download
    users</a>
{% endblock %}
